body
    {
    background: linear-gradient(to right, olive, rgb(35, 69, 35));
    font-family: Arial, Helvetica, sans-serif;
   
    }

h1
    {
    text-align: center;
    color: rgb(198, 230, 154);
    
    }

h2
    {
    text-align: center;
    color: rgb(147, 234, 234);
    text-shadow: beige;
    }

.btn
    {
        background-color: darkred;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }
      
.btn:hover 
    {
        background-color: crimson;
    }
